body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

p {
  font-size: 12px/1.5em;
}

h1 {
  font-size: 36px;
}

a:hover, a:focus {
  color: #2a6496;
}

a {
  color: #428bca;
  text-decoration: none;
}