.member_list
  - @members.each do |member|
    .member
      %p
        %h2.member_name= link_to member.name, member_path(member)
        - short_url = shortener_url(member.short_url_key)
        = link_to short_url, short_url, target: '_blank'
        %p= member.friends_count

= paginate @members